%p#notice= notice
%p
  %strong Location:
  = @city
%p
  %strong Start date:
  = @wildfire.start_date
%p
  %strong End date:
  = @wildfire.end_date
%p
  %strong Size:
  = @wildfire.size
%p
  %strong Fire Damage:
  %br/
  = image_tag @wildfire.fire_damage.url
  = button_to "Download Damage", download_fire_damage_wildfire_path, :method => "get", :class => "btn btn-primary"
%p
  %strong Ongoing:
  = @status
= button_to 'Edit', edit_wildfire_path(@wildfire), method: "get", :class => "btn btn-warning"
= button_to 'Back', wildfires_path, method: "get", :class => "btn btn-default"