
%h1 Locations of Wildfire Events
%table.table.table-striped.table-hover
  %thead
    %tr
      %th City
      %th State
      %th Prevention program
      %th Fires to Date
      %th
      %th
  %tbody
    - @locations.each do |location|
      %tr
        %td
          %h6= location.city
        %td
          %h6= location.state
        - if location.prevention_program
          %td
            %h6= "Yes"
        - else
          %td
            %h6= "No"
        %td= location.wildfires.count
        %td= button_to 'View', location, :method => "get", :class => "btn btn-primary"
        %td= button_to 'Edit', edit_location_path(location), :method => "get", :class => "btn"
        %td= button_to 'Delete', location, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"

= button_to 'NEW LOCATION', new_location_path, :method => "get", :class => "btn btn-success"
%br
%br
%br

= render 'search_form'