%p#notice= notice
%p
  %strong City:
  = @location.city
%p
  %strong State:
  = @location.state
%p
  %strong Prevention program:
  - if @location.prevention_program
    ="Yes"
  - else
    ="No"
= button_to 'Edit', edit_location_path(@location), :method => "get", :class => "btn btn-warning"
%br/
= button_to 'Report Wildfire', new_wildfire_path, :method => "get", :class => "btn btn-success", :location_id => "#{@location_id}"
%br

\#{button_to 'Back', locations_path, :method => "get", :class => "btn"}