!!!
%html
	%head
		%title WildfireApp
		= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags
	%body
	.navbar.navbar-fixed-top
		.navbar-inner
			.container
				%a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
				%a.brand{href: "/locations"} Wildfire Location Registry
				.nav-collapse
					%ul.nav
						%li= link_to "Known Locations", locations_path
						%li= link_to "Recorded Wildfire Events", wildfires_path
						%li
							=button_to "Add a Location", new_location_path, :method => "get", :class => "btn btn-sm"
						%li
							=button_to "Report a Fire", new_wildfire_path, :method => "get", :class => "btn btn-sm"
%br
%br
%br
= yield